.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.5rem var(--margin-right-left);

  background-color: rgba(0, 0, 0, 0.5);

  color: #fff;
}

.navList {
  list-style: none;

  display: flex;
  gap: 1.25rem;

  font-size: 1.25rem;
  text-transform: uppercase;
}

.navItem {
  transition: color 100ms ease-in-out;
  border: 1px solid white;
  padding: 0.4em 0.5em;
}
.navItem.active {
  animation: colorBreath 5s ease infinite, borderBreath 5s ease infinite;
}
.navItem.subActive {
  color: #97938d;
  border-color: #97938d;
}

@keyframes colorBreath {
  0% {
    color: #ff9900;
  }
  50% {
    color: #f14d4d;
  }
  100% {
    color: #ff9900;
  }
}

@keyframes borderBreath {
  0% {
    border-color: #ff9900;
  }
  50% {
    border-color: #f14d4d;
  }
  100% {
    border-color: #ff9900;
  }
}

.navItem:not(.active):hover {
  color: #ffeece;
}

.searchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  padding: 0.15em 0.45em 0.15em 0.65rem;
  border-radius: 16px;
  border: 1px solid white;
}

.search::placeholder {
  color: #fff;
}

.search {
  font-size: 0.9rem;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.searchLable {
  display: grid;
  place-items: center;
}

.searchLable > svg {
  margin-left: 0.4rem;
  fill: #fff;
  width: 19px;
  height: 19px;
}
