.main {
  position: relative;
  overflow: hidden;
}

.bannerImageWrapper {
  position: relative;
  height: 65vh;
  min-height: 400px;
  isolation: isolate;
}

.gradient {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    rgba(0, 0, 0, 0.75) 0%,
    transparent 25%,
    transparent 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.bannerImage {
  z-index: -1;
}
