.main {
  position: relative;
  overflow: hidden;
}

.text {
  position: absolute;
  left: var(--margin-right-left);
  right: var(--margin-right-left);
  bottom: 2rem;

  font-size: 2rem;
  color: #fff;
  text-shadow: 4px 4px 20px black;
  line-height: 1.5;
  z-index: 1;
}

.bannerImageWrapper {
  position: relative;
  height: 75vh;
  min-height: 400px;
  isolation: isolate;
}

.gradient {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    rgba(0, 0, 0, 0.75) 0%,
    transparent 25%,
    transparent 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.bannerImage {
  z-index: -1;
}
