.main {
  position: relative;
  overflow: hidden;
}

.text {
  position: absolute;
  left: var(--margin-right-left);
  right: var(--margin-right-left);
  bottom: 2rem;

  font-size: 2rem;
  color: #fff;
  text-shadow: 4px 4px 20px black;
  line-height: 1.5;
  z-index: 1;
}

.bannerImageWrapper {
  position: relative;
  height: 85vh;
  min-height: 400px;
  isolation: isolate;
}

.gradient {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    rgba(0, 0, 0, 0.75) 0%,
    transparent 25%,
    transparent 75%,
    rgba(0, 0, 0, 1) 100%
  );
}

.bannerImage {
  z-index: -1;
}

.title,
.description {
  cursor: pointer;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  transition: line-clamp 200ms;
  transition: background-color 200ms, padding 200ms;
}

.description.showFullText {
  background-color: rgba(0, 0, 0, 40%);
  line-clamp: initial;
  -webkit-line-clamp: initial;
  max-height: 300px;
  overflow: auto;
  backdrop-filter: blur(6px);
  padding: 1em 0.5em;

  /* for mozilla */
  scrollbar-color: rgb(58, 58, 58) #000;
  scrollbar-width: thin;
}

.description.showFullText::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.description.showFullText::-webkit-scrollbar-track {
  background-color: #000;
}

.description.showFullText::-webkit-scrollbar-thumb {
  background-color: rgb(87, 87, 87);
}
