@font-face {
  font-family: marvel;
  src: url(/fonts/BentonSans-Comp-Black-Regular.otf);
  font-weight: 900;
}

@font-face {
  font-family: marvel;
  src: url(/fonts/BentonSans-Comp-Bold-Regular.otf);
  font-weight: 600;
}

@font-face {
  font-family: marvel;
  src: url(/fonts/BentonSans-Comp-Regular-Regular.otf);
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: var(--marvel-color-dark);
}

:root {
  --margin-top: 3rem;
  --margin-right-left: 4rem;

  --margin: var(--margin-top) var(--margin-right-left) 0;
  --marvel-color: #f0131e;
  --marvel-color-dark: #c10203;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: marvel, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;

  /* for mozilla */
  scrollbar-color: var(--marvel-color-dark) #000;
  scrollbar-width: thin;
}

html,
body {
  background-color: #000;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

ol,
ul {
  list-style-type: none;
}

.d-none {
  display: none;
}

.mainWrapper {
  margin-right: var(--margin-right-left);
  margin-left: var(--margin-right-left);
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  row-gap: 2rem;
  column-gap: 1rem;
  margin-top: 4rem;
}

@media (max-width: 60rem) {
  :root {
    --margin-top: 2rem;
    --margin-right-left: 3rem;
  }
}

@media (max-width: 30rem) {
  :root {
    --margin-top: 1rem;
    --margin-right-left: 1rem;
  }
}
