.bgHome {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -1;
}

.ironManBg {
  background-image: url(/index/iron-man-bg.png);
}

.thorBg {
  background-image: url(/index/thor-bg.png);
}

.drStrangeBg {
  background-image: url(/index/dr-starnge-bg.png);
}

.captainAmericaBg {
  background-image: url(/index/captain-america-bg.png);
}

.bgHome::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(104, 109, 110, 0.49);
  z-index: -1;
}

.main {
  padding: var(--margin);
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.marvelLogo {
  --clip-path: circle(0% at 6rem 4rem);
  font-weight: 900;
  color: #fff;
  background-color: var(--marvel-color);
  font-size: 1.55rem;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
}

.marvelLogo::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  clip-path: var(--clip-path);
  transition: clip-path 1s;
  background-color: var(--marvel-color);
  z-index: 100;
  pointer-events: none;
}

.text {
  color: #fff;
  width: 50%;
  margin-top: 12rem;
}

.title {
  text-transform: uppercase;
  font-size: clamp(2.5rem, 6vw, 4rem);
  font-weight: 600;
}

.discription {
  margin-top: 1rem;
  font-size: clamp(1rem, 2vw, 1.35rem);
  line-height: 1.35;
}

.heroImgWrapper {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 42px;
  width: max-content;
  z-index: -1;
}

.heroImg {
  width: 48vw;
  min-width: 300px;
}

.thor,
.captainAmerica {
  width: 40vw;
}

.exploreBtn {
  font-size: 1.015rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0.65em 1em;
  padding-right: 2.2em;
  color: #fff;
  background-color: #00000021;
  backdrop-filter: blur(5px);
  position: fixed;
  right: var(--margin-right-left);
  bottom: var(--margin-top);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, padding-right 0.2s ease-in-out;
}

.exploreBtn:hover {
  background-color: #0000003d;
}

.exploreBtn::after,
.exploreBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 1em;
}

.exploreBtn::after {
  width: 0%;
  height: 1px;
  background-color: currentColor;
  transform: translateY(-50%);
  transition: width 0.2s ease-in-out;
}

.exploreBtn:hover {
  padding-right: 4.2em;
}

.exploreBtn:hover.exploreBtn::after {
  width: 25%;
}

.exploreBtn::before {
  border: solid currentColor;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 350px) {
  .heroImg {
    min-width: 250px;
  }
}

@media (max-width: 950px) {
  .heroImgWrapper {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  .text {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0;
    text-align: center;
    width: 100%;
  }
}
