.text {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: 4rem;
}

.textBreath {
  animation: colorBreath 4s ease infinite;
}

@keyframes colorBreath {
  0% {
    color: #ff9900;
  }
  50% {
    color: #f14d4d;
  }
  100% {
    color: #ff9900;
  }
}
